@page
@model RecipesNet.Pages.DishTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_Title", "Dish types")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DishType[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishType[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DishType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @await Html.PartialAsync("_EditDeleteButtonGroup", item.Id.ToString())
                </td>
            </tr>
        }
    </tbody>
</table>
