@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-justify">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>
        This website or its third-party tools process personal data (e.g. browsing data or IP addresses) and use cookies or other identifiers,
        which are necessary for its functioning and required to achieve the purposes illustrated in the cookie policy.
    </p>
</div>

